<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Our Awesome Site</h1>
    <p>
      We are very happy to have you with us.
    </p>
  </body>
</html>
